.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtersWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > * {
    margin-right: 20px;
  }
}